* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(45deg, #9ad751, #2196f3);
}

.sosmed {
	position: relative;
	width: 280px;
	height: 280px;
	display: flex;
	justify-content: center;
	align-items: center;
/*	background: rgba(0, 0, 0, .1);*/
}

.sosmed .toggle {
	position: relative;
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 3px 4px rgba(0, 0, 0, .15);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #222;
	cursor: pointer;
	font-size: 2.2em;
	transition: 1s;
}

.sosmed.active .toggle {
	transform: rotate(360deg);
	box-shadow: 0 6px 8px rgba(0, 0, 0, .15), 0 0 0 2px #333, 0 0 0 8px #fff;
}

.sosmed li {
	position: absolute;
	left: 0;
	list-style: none;
	transition: .5s;
	transform: rotate(calc(360deg/8 * var(--1)));
	transform-origin: 140px;
	scale: 0;
	transition-delay: calc(.05s * var(--1));
}

.sosmed.active li {
	scale: 1;

}

.sosmed li a {
	position: relative;
	display: flex;
	transform: rotate(calc(360deg/-8 * var(--1)));
	width: 60px;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 1.6em;
	color: var(--clr);
	box-shadow: 0 3px 4px rgba(0, 0, 0, .15);
	transition: .1s;

}

.sosmed li:hover a {
	font-size: 2.2em;
	box-shadow: 0 0 0 2px var(--clr), 0 0 0 6px #fff;
}











